[user]
  name = Blake Williams
  email = blake@blakewilliams.me
[github]
  user = BlakeWilliams
[color]
  ui = true
[format]
  pretty = "%C(yellow)%h%Creset - %s%nAuthored by %C(green)%an%Creset %ar%n"
[core]
  excludesfile = ~/.excludes
  whitespace = trailing-space,space-before-tab
[advice]
  pushNonFastForward = false
  statusHints = false
[commit]
  template = ~/.gitmessage
[fetch]
  prune = true
[push]
  default = current
[pull]
  rebase = true
[merge]
  ff = only
[alias]
  a  = add
  aa = add --all
  ap = add -p
  ca = commit --amend
  c  = commit -v
  co = checkout
  cb = !sh -c 'git checkout -b $0 && git push -u origin $0'
  db = branch -d
  d  = diff
  ds = diff --staged
  db = !sh -c 'git push --delete origin $1 && git branch -D $1' -
  up = !git fetch origin && git rebase -i origin/master
  down = !git checkout master && git merge @{-1} && git push
  money = branch -dr @{-1}
  fuckit = !sh -c 'git add --all && git reset --hard'
  safe = !mkdir .git/safe
  pr = !hub pull-request --browse
[status]
  branch = 1
  short = 1
[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f
