[user]
  name = Blake Williams
  email = blake@blakewilliams.me
[github]
  user = BlakeWilliams
[format]
  #pretty = "%C(yellow)%h%Creset - %s%nAuthored by %an%n"
  pretty = "%C(yellow)%h%Creset - %s%nAuthored by %C(green)%an%Creset %ar%n"
[color]
  ui = true
[core]
  excludesfile = ~/.excludes
  whitespace = trailing-space,space-before-tab
[push]
  default = current
[merge]
  ff = only
[advice]
  pushNonFastForward = false
  statusHints = false
[commit]
  template = ~/.gitmessage
[alias]
  a  = add
  aa = add --all
  ap = add -i
  ca = commit --amend
  ci = commit
  co = checkout
  cb = checkout -b
  db = branch -d
  d  = diff
  ds = diff --staged
  fuckit = !sh -c 'git add --all && git reset --hard'
  up = !git fetch origin && git rebase -i origin/master
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[status]
	branch = 1
