[user]
	name = Blake Williams
	email = blake@blakewilliams.me
[github]
	user = BlakeWilliams
[format]
	pretty = "%C(yellow)%h%Creset - %s%nAuthored by %an%n"
[color]
	ui = true
[core]
	excludesfile = ~/.excludes
	whitespace = trailing-space,space-before-tab
[push]
	default = current
[advice]
	pushNonFastForward = false
	statusHints = false
[commit]
  template = ~/.gitmessage
[alias]
  aa = add --all
  ap = add -i
  ca = commit --amend
  ci = commit
  co = checkout
  create-branch = !sh -c 'git push origin HEAD:refs/heads/$1 && git fetch origin && git branch --track $1 origin/$1 && cd . && git checkout $1' -
  delete-branch = !sh -c 'git push origin :refs/heads/$1 && git remote prune origin && git branch -D $1' -
  
