# Vim keybindings
set editing-mode vi

# Command mode bindings
set keymap vi-command

# Insert mode bindings
set keymap vi-insert

# Ignore case
set completion-ignore-case on

# Vim style history search
"\e[A": history-search-backward
"\e[B": history-search-forward

# Beginning and end of line shortcut 
"\C-a": beginning-of-line
"\C-e": end-of-line
